nav {
    background-color: #f8f8f8;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo a {
    font-weight: bold;
    text-decoration: none;
    color: #1b1b1b;
    font-size: 1.2rem;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    flex: auto;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #272727;
  }
  
  
  .user-profile a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  